@model Web.Models.DANHMUC

@{
    ViewBag.Title = "Delete";
}

<!-- End Sidebar-->
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Xoá danh mục</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active">Xoá danh mục</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">

        <h3>Bạn có muốn xoá danh mục này?</h3>
        <div>
           
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Tên danh mục
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenDanhMuc)
                </dd>

                <dt>
                    Ghi chú
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GhiChu)
                </dd>

                <dt>
                    Ảnh bìa
                </dt>

                <dd>
                    
                    @{
                        string ImagePath = "~/wwwoot/dataimg/" + Model.AnhBiaDM;
                    }
                    <img src="@Url.Content(ImagePath)" width="200" class="img-thumbnail" />
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xác nhận" class="btn btn-default" /> |
                    @Html.ActionLink("Quay lại", "Index")
                </div>
            }
        </div>
    </section>

</main><!-- End #main -->