@model IEnumerable<Web.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Quản lí sản phẩm</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active">Sản phẩm</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <p>
            @Html.ActionLink("Thêm mới", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    Danh mục
                </th>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Ảnh bìa
                </th>
                
                <th>
                    Giá tiền
                </th>
                
                <th>
                    Số lượng
                </th>
                <th>
                    Hành động
                </th>
                
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DANHMUC.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @{
                    string ImagePath = "~/wwwoot/dataimg/" + item.AnhBia;
                }
                <img src="@Url.Content(ImagePath)" width="150" class="img-thumbnail" />
            </td>

            <td>
                @Web.Models.SANPHAM.ConvertToThousand64_From_Float(item.GiaTien.ToString("F99").TrimEnd('0').Trim('.')) VNĐ
            </td>
            @if (item.DANHMUC.KieuDM == 2)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
            }
                else
                {
                    <td></td>
                }

            <td>
                @Html.ActionLink("Cập nhật", "Edit", new { id = item.ID_SP })
                |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID_SP })
                |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID_SP })
            </td>
        </tr>
            }

        </table>
    </section>
</main>