@model Web.Models.SANPHAM
@using Web.Models
@{
    Layout = null;
    Cart cart = Session["Cart"] as Cart;
    int count = 0;
    if (cart != null)
    {
        count = cart.Items.Count();
    }
    string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    bool activeHome = actionName == "Index";
    bool activeHome1 = actionName == "ListSanPham";
    bool activeHome3 = actionName == "BanDo";
}


<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/wwwoot/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/wwwoot/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/wwwoot/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/wwwoot/css/nice-select.css" type="text/css">
    <link href="~/css/templatemo-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/wwwoot/css/jquery-ui.min.css" type="text/css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/wwwoot/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/wwwoot/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/wwwoot/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Damion" />
    <link rel="shortcut icon" href="~/img/logo.png" type="image/x-icon" />
</head>

<body>

    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li>Miễn phí giao hàng cho đơn từ 99k</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/ban.tre.7773/"><i class="fa fa-facebook"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="@Url.Action("Login","Home")"><i class="fa fa-user"></i> Đăng nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="background:#000000;max-width:100% !important">
            <div class="row">
                <div class="col-lg-4">
                    <div class="tm-logo-container" style="float:right">
                        <img src="~/img/logo.png" height="40px" width="40px" alt="Logo" class="tm-site-logo">
                        <a href="@Url.Action("Index", "Home")">
                            <h1 class="tm-site-name tm-handwriting-font">Food</h1>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <nav class="tm-nav" style="height:100%;float:right">
                        <ul>
                            <li><a class="@(activeHome ? "active" : "")" href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                            <li><a class="@(activeHome1 ? "active" : "")" href="@Url.Action("ListSanPham", "Home")">Mua hàng</a></li>
                            <li><a class="@(activeHome3 ? "active" : "")" href="@Url.Action("BanDo", "Home")">Bản đồ</a></li>
                            <li><a href="https://www.facebook.com/ban.tre.7773/">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-1">
                    <div class="header__cart">
                        <ul>
                            <li><a href="javascript:;" onclick="load()"><i class="fa fa-shopping-bag"></i> <span>@count</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>

    </header>
    <!--main-->
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        @{
                            string Image = "~/wwwoot/dataimg/" + Model.AnhBia;
                            string Image1 = "~/wwwoot/dataimg/" + Model.Anh1;
                            string Image2 = "~/wwwoot/dataimg/" + Model.Anh2;
                        }
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                 src="@Url.Content(Image)" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="@Url.Content(Image)"
                                 src="@Url.Content(Image)" alt="">
                            <img data-imgbigurl="@Url.Content(Image1)"
                                 src="@Url.Content(Image1)" alt="">
                            <img data-imgbigurl="@Url.Content(Image2)"
                                 src="@Url.Content(Image2)" alt="">
                            <img data-imgbigurl="@Url.Content(Image)"
                                 src="@Url.Content(Image)" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>@Html.DisplayFor(model => model.TenSanPham)</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>Giảm giá: @Html.DisplayFor(model => model.GiamGia) %</span>
                        </div>
                        <div class="product__details__price">@Web.Models.SANPHAM.ConvertToThousand64_From_Float(Model.GiaTien.ToString("F99").TrimEnd('0').Trim('.')) VNĐ</div>
                        <p>
                            @Html.DisplayFor(model => model.MoTa)
                        </p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a class="primary-btn" onclick="check()" style="color: #c79c60">Thêm vào giỏ hàng</a>
                        <ul>
                            <li><b>Số lượng còn lại: </b> <span>@Html.DisplayFor(model => model.SoLuong)</span></li>
                            <li><b>Giao hàng</b> <span>1 ngày <samp>(Đơn hàng sẽ được giao trong hôm nay)</samp></span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Product Details Section End -->
    <!--main-->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 tm-logo-container" style="float:right">
                    <img src="~/img/logo.png" height="40px" width="40px" alt="Logo" class="tm-site-logo">
                    <a href="@Url.Action("Index", "Home")">
                        <h1 class="tm-site-name tm-handwriting-font">Food</h1>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <ul>
                            <li>Địa chỉ:</li>
                            <li>70 Xuân Phương - Hương Canh - Nam Từ Liêm - Hà Nội</li>

                            <li>Hotline: 0353262205</li>
                            <li>Email: tuananhowo@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liên kết</h6>
                        <ul>
                            <li><a href="https://www.facebook.com/ban.tre.7773/">Liên hệ</a></li>
                            <li><i class="fa fa-envelope"></i> tuananhowo@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer__widget">
                        <h6>NHẬN TIN TỨC MỚI NHẤT</h6>
                        <p>Hãy để lại email cho chúng tôi.</p>
                        <form action="#">
                            <a href="@Url.Action("Register","Home")" class="site-btn">Đăng kí</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                        </div>
                        <div class="footer__copyright__payment"><img src="~/wwwoot/img/Untitled-4.jpg" /></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/wwwoot/js/jquery-3.3.1.min.js"></script>
    <script src="~/wwwoot/js/bootstrap.min.js"></script>
    <script src="~/wwwoot/js/jquery.nice-select.min.js"></script>
    <script src="~/wwwoot/js/jquery-ui.min.js"></script>
    <script src="~/wwwoot/js/jquery.slicknav.js"></script>
    <script src="~/wwwoot/js/mixitup.min.js"></script>
    <script src="~/wwwoot/js/owl.carousel.min.js"></script>
    <script src="~/wwwoot/js/main.js"></script>

    <script>
        function check() {
            var k = document.cookie;
            if (k == "") {
                alert('Yêu cầu đăng nhập để mua hàng');
                 window.location.href = '/Home/Login';
                return false;
            }
            else {
                window.location.href = '/ShoppingCart/AddtoCart/' +@Model.ID_SP;
                alert("Đã thêm vào giỏ hàng thành công");
            }
        }
    </script>

</body>

</html>




